<footer class="text-white mt-auto">
    <!-- h-100 makes these sizing containers fill the entire footer; necessary for vertically aligned the text -->
    <div class="container h-100">
        <div class="d-flex align-items-center h-100"> <!-- align-items-center works for the <a> tag, but we need my-auto to vertically center the p tag -->
            <p class="my-auto">PacePal, 2024</p>
            <div class="d-flex justify-content-between align-items-center ml-auto">
                <a href="https://github.com/Ryzeson/Running-App" target="_blank" class="text-white d-flex align-items-center"><i
                    class="fab fa-github fa-lg my-auto"></i></a>
            </div>
        </div>
    </div>
</footer>