<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kale's Kilometers</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Google fonts (title) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chicle&display=swap" rel="stylesheet">
    <!-- Google fonts (all other text)-->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

</head>

<body class="d-flex flex-column">

    <%- include ("./navbar.ejs") %>

        <div class="container center-container">
            <div class="row">
                <div class="col-md-6 pl-5">
                    <h1 class="chicle-regular title">Kale's</h1>
                    <h1 class="chicle-regular title">Kilometers</h1>
                    <p>Join to track your workouts and update your progress! </p>
                </div>
                <div class="col-md-3 register-box">
                    <% if(locals.email) { %>
                        <p class="small-text">An email will be sent to <i>
                                <%= email%>
                            </i> if an account with that email exists. Please use the link in that email to reset your
                            password.</p>
                        <% } else { %>
                            <p>Please enter the email associated with your account in order to reset your password.</p>
                            <form name="resetPassword" method="POST" action="/forgot-password">
                                Email: <input id="forgot-password-email" class="login-signup-field" type="email" name="userOrEmail" placeholder="youremail@example.com" required><br>
                                <input class="submit login-signup-btn" type="submit" value="Reset password">
                            </form>
                            <% }%>
                </div>
            </div>
        </div>

        <%- include ("./footer.ejs") %>

</body>

</html>