<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PacePal</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="container center-container">
        <div class="row">
            <div class="col-md-6">
                <h1>PacePal</h1>
            </div>
            <div class="col-md-6">
                <% if(locals.username) { %>
                    <p>Hi <i><%= username%></i>, please enter your new password below.</p>
                    <form name="resetPassword" method="POST" action="/reset-password">
                        Password<br><input type="password" name="password" required><br>
                        Confirm password<br><input type="password" name="confirm-password" required><br>
                        <!-- we want to pass username as well, so we know which user's password we are updating -->
                        <!-- note that we usually use id as the key, but we can't here because the user is not logged in. This should be one of the few places we have to rely on username instead of id-->
                        <input type="hidden" name="username" value="<%= username%>">
                        <input name="submit" class="submit" type="submit" value="Update password">
                    </form>
                    <p class="small-text hidden" id="passwords-not-match-text">Passwords do not match</p>
                <% } else {%>
                    <p>Your password has been successfully reset! You can now <a class="button" href="/">Log in</a>.</p>
                <% } %>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts/signup.js"></script>
    <script src="scripts/utils.js"></script>
</body>

</html>