:root {
  --color1: #EAE0CC;
  --color2: #C9ADA1;
  --color3: #A0A083;
  --color4: #798478;
  --color5: #4D6A6D;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.chicle-regular {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--color1);
}

body, html {
  height: 100%;
}

span {
  margin-right: 10px;
}

.center-container {
  margin-top: 20vh;
  /* Move this content down, starting at 20% of the screen height */
}

input.submit {
  margin-top: 2%;
}

.small-text {
  margin-top: 2%;
  font-size: .9em;
}

ol {
  margin-top: 0;
  margin-bottom: 0;
}

.hidden {
  display: none;
}

h1.title {
  font-size: 4em;
}

/* *****************
*                  *
*    Stopwatch     *
*                  *
***************** */

.progress {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  height: 15px;
  width: 100%;
}

#progress-bar {
  height: 15px;
  width: 100%;
  /* walk */
  background-color: #5F93F3;
  /* run */
  /* background-color: #E0ACEC; */
}

/* *********************************
*                                  *
*    Progress table (index.ejs)    *
*                                  *
********************************* */

.progress-container {
  width: 60%;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  border: 2px solid grey;
  margin: auto;
}

/* Header row */
th {
  background-color: #333;
  color: #fff;
}

td {
  width: 14.2857%;
  height: 120px;
  border: 1px solid black;
  text-align: center;
  background-color: #f2f2f2;
}

/* Overrides a native padding in bootstrap's _tables.scss file */
.table td {
  padding: 0px;
}

td.stopwatch {
  background-color: var(--color2);
}

td:hover {
  background-color: var(--color1);
  transition: background-color 0.4s;
  cursor: pointer;
}

/* td.week-heading span {
    -webkit-transform: rotate(270deg);
    display: block;
    margin-top: 99%;
  } */

td.week-heading {
  width: 10px;
  text-wrap: none;
  color: #fff;
  background-color: #333;
}

/* for workout buttons */
a.workout {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  /* Default button color */
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

a.button {
  font-weight: 500;
  color: var(--color5);
  text-align: center;
  user-select: none;
}

/* Inside a td cell */
td.completed {
  background-color: lightgrey;
}

td.completed:hover {
  background-color: rgb(173, 164, 164);
  transition: background-color 0.4s;
}

p.workout-desc {
  margin: 10px;
}

.td-options {
  background-color: var(--color2);
  width: 100%;
  padding: 8px;
}

.td-options-close {
  background-color: salmon;
  color: white;
  padding: 3px;
}

.td-options-close:hover {
  background-color: red;
}

.credits-text {
  font-size: .9em;
}

/* *************
*              *
*    Footer    *
*              *
************* */
footer {
  min-height: 40px;
  background-color: var(--color4)
}

.footer-text {
  font-size: 12px;
}